<div style="@Style" id="@Id" class="map"></div>

<style>
    .map{
        height: 540px;
        width: 100%;
        border-radius: 4px;
    }
    .ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
        display: none;
    }
</style>