@layout PublicLayout
@page "/dashboard"
@attribute [Authorize]
<h3>Redirecting to Dashboard...</h3>
@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    [Inject]
    protected SecurityService SecurityService { get; set; }

    protected override void OnInitialized()
    {
        RedirectToDashboard();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RedirectToDashboard();
        }
    }

    private void RedirectToDashboard()
    {
        if (SecurityService.IsInRole("Admin") || SecurityService.User.Name == "Admin")
        {
            NavigationManager.NavigateTo("/admin/dashboard");
        }
        else if (SecurityService.IsInRole("Provider"))
        {
            NavigationManager.NavigateTo("/provider/dashboard");
        }
        else if (SecurityService.IsInRole("Customer"))
        {
            NavigationManager.NavigateTo("/customer/dashboard");
        }
    }
}
